<p>
  Formulario de registro
</p>
<form>
  <label>Nombre:</label>
  <input type="text" [(ngModel)]="usuarioRegistro.nombre" name="nombre">
  <label>Apellido:</label>
  <input type="text" [(ngModel)]="usuarioRegistro.apellido" name="apellido">
  <label>Móvil:</label>
  <input type="text" [(ngModel)]="usuarioRegistro.movil" name="movil">
  <button type="button" (click)="registroUsuario(usuarioRegistro)">Guardar</button>
</form>

<p>{{usuarioRegistro.nombre}} {{usuarioRegistro.apellido}} {{usuarioRegistro.movil}}</p>

<ul *ngFor="let usuario of listaUsuarios">
  <li>{{usuario.nombre}} {{usuario.apellido}} {{usuarioRegistro.movil}}</li>
</ul>